html, body {
    margin: 0;
    padding: 0;
    background-color: #0827F5;
    color: #FFF;
    font-family: 'Courier';
    font-size: 12pt;
    line-height: 10pt;
    overflow: hidden;
  }
  canvas {
    display: block;
  }