body{
  margin: 0;
  padding: 0;
  background: url(plant_background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@keyframes ani-img {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }

}
.box-img{
  width: 80%;
  border: 2px solid whitesmoke;
  animation-name: ani-img;
  animation-duration: 2s;
}

.box{
  width: 500px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box h6{
  font-size: 15px;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

.container-fluid {
  padding: 0px !important;
}

/* navbar properties */
.navbar {
  background-color: rgba(0,0,0,0.5) !important;
  border: 0 !important;
  padding-top: 10px;
  visibility: visible;
}

/* navbar invisible */
.navbar-hide {
  visibility: hidden;
}

/* navbar nav space from right */
.navbar-nav {
  margin-right: 5vw;
}

/* navbar nav individual spacing */
.navbar-nav > li {
  margin-left: 1vw;
}

/* navbar active background properties */
.nav .active a {
  background: none !important;
  border-bottom: 5px solid #119822;
}

/* navbar active text color */
.navbar-nav > .active> a, .navbar-nav> li >a:hover, .navbar-nav>.active>a:focus {
  color: #119822 !important;
  border-bottom: 5px solid #119822;
}

/* section properties for testing purposes */
.section {
  min-height: 40vh;
  padding: 60px;
  color: white;
}

/* https://coolors.co/152614-1e441e-2a7221-119822-31cb00 */
.box2 {
  background: rgba(30, 68, 30, 0.8);
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.box3 {
  background: rgb(42, 114, 33, 0.8);
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  color: white;
}

.section > h1 {
  color: white
}

/* navbar text properties */
.navbar .nav > li > a {
    color: white;
    font-size: 15px;
    font-weight: 100;
}

/* toggle triple-bar color */
.icon-bar {
  color: white;
}

/* remove the border around toggle button */
.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

/* navbar brand properties */
.navbar .navbar-brand {
  color: white;
  font-size: 25px;
  padding-left: 30px;
  font-weight: 100;
}

/* navbar brand hover properties */
.navbar-brand:hover {
  color: #119822 !important;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    /* navbar active background properties */
    .nav .active a {
      border-bottom: none;
    }

    /* navbar active text color */
    .navbar-nav > .active> a, .navbar-nav> li >a:hover, .navbar-nav>.active>a:focus {
      border-bottom: none;
    }
}

.container-fluid p {
  color: white;
  font-size: 15px;
}